In [23]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [24]:
df = pd.read_excel('Dataset/Compiled_dataset.xlsx')

## Tires & Wheels Function

In [25]:
# Code for Reproduceability

def tires_wheels_clustering(dataset):
  """
  This code returns the clusters under the category of Tires & Wheels.
  """
  
  dataset = dataset.loc[(dataset['Service Category'] == 'Tires & Wheels'),:]

  # Replace Mount to Mount, Install, & Balance
  dataset.loc[dataset['Service Package'].str.contains('Mount', case = False),'Service Package'] = 'Mount, Install, & Balance'
  dataset.loc[dataset['Service Package'].str.contains('Balance'),'Service Package'] = 'Mount, Install, & Balance'
  dataset.loc[dataset['Service Package'].str.contains('Balancing', case = False),'Service Package'] = 'Mount, Install, & Balance'

  # Map Tire Replacement to all values that contain replacement
  dataset.loc[dataset['Service Package'].str.contains('Replace'),'Service Package'] = 'Tire Replacement'
  dataset.loc[dataset['Service Package'].str.contains('REPLACEMENT', case = False),'Service Package'] = 'Tire Replacement'

  # Tire Vulcanizing
  dataset.loc[dataset['Service Package'].str.contains('Vulcan'),'Service Package'] = 'Tire Vulcanizing'

  # Tire Rotation
  dataset.loc[dataset['Service Package'].str.contains('Rotat'),'Service Package'] = 'Tire Rotation'

  # Other General Services
  dataset.loc[~dataset['Service Package'].isin(['Mount, Install, & Balance','Tire Rotation','Tire Vulcanizing','Tire Replacement']),'Service Package'] = 'Other General Services'
  
  df.update(dataset)
  
  return(dataset['Service Package'].value_counts().to_frame())
  
tires_wheels_clustering(df)

                           Service Package
Mount, Install, & Balance              793
Other General Services                  61
Tire Vulcanizing                        52
Tire Replacement                        45
Tire Rotation                           30

## Accessories Function

In [26]:
def accessories(dataset):
  """
  This code returns the clusters under the category of Accessories.
  """
  
  
  ## Filter only accessories category
  dataset = dataset.loc[(dataset['Service Category'] == 'Accessories (Gauges, Power Accessories, Vision & Air Bag)'),:]
  
  ## Windshield related services
  dataset.loc[dataset['Service Package'].str.contains('wiper', case = False),'Service Package'] = 'Windshield Wiper Servicing'
  dataset.loc[dataset['Service Package'].str.contains('wind', case = False),'Service Package'] = 'Windshield Wiper Servicing'
  
  ## Door related services
  dataset.loc[dataset['Service Package'].str.contains('door', case = False),'Service Package'] = 'Door Servicing'
  
  ## Window related services
  dataset.loc[dataset['Service Package'].str.contains('window', case = False),'Service Package'] = 'Power Window Servicing'
  
  ## General Services
  dataset.loc[dataset['Service Package'].str.contains('power accessories', case = False),'Service Package'] = 'Power Accessories General Service'
  dataset.loc[dataset['Service Package'].str.contains('general', case = False),'Service Package'] = 'Accessories General Service'
  
  ## Auxilliary Services
  dataset.loc[dataset['Service Package'].str.contains('horn', case = False),'Service Package'] = 'Car Horn Repair & Services'
  dataset.loc[dataset['Service Package'].str.contains('seat', case = False),'Service Package'] = 'Car Seat Services'
  dataset.loc[dataset['Service Package'].str.contains('Hood', case = False),'Service Package'] = 'Car Hood Services'
  
  ## Other Services
  dataset.loc[~dataset['Service Package'].isin(['Windshield Wiper Servicing','Door Servicing','Power Window Servicing','Power Accessories General Service'
                                             ,'Accessories General Service','Car Horn Repair & Services',
                                             'Car Seat Services','Car Hood Services']),'Service Package'] = 'Other Accessories Services'
  df.update(dataset)
  
  return(dataset['Service Package'].value_counts().to_frame())

accessories(df)

                             Service Package
Windshield Wiper Servicing               178
Other Accessories Services               128
Door Servicing                            78
Accessories General Service               34
Car Horn Repair & Services                27
Car Hood Services                         24
Car Seat Services                          3

## Batteries Function

In [27]:
def batteries(dataset):
  """
  This code returns the clusters under the category of Batteries.
  """
  
  # Filter only the batteries category
  dataset = dataset.loc[(dataset['Service Category'] == 'Batteries'),:]
  
  # Clustering of Battery Replacement
  dataset.loc[dataset['Service Package'].str.contains('replace', case = False),'Service Package'] = 'Battery Replacement'
  dataset.loc[dataset['Service Package'].str.contains('change', case = False),'Service Package'] = 'Battery Replacement'

  # Clustering of General Battery Services
  dataset.loc[dataset['Service Package'].str.contains('jump', case = False),'Service Package'] = 'Battery General Services (Charge, Test, Start)'
  dataset.loc[dataset['Service Package'].str.contains('charge', case = False),'Service Package'] = 'Battery General Services (Charge, Test, Start)'
  dataset.loc[dataset['Service Package'].str.contains('start', case = False),'Service Package'] = 'Battery General Services (Charge, Test, Start)'
  dataset.loc[dataset['Service Package'].str.contains('test', case = False),'Service Package'] = 'Battery General Services (Charge, Test, Start)'
  dataset.loc[dataset['Service Package'].str.contains('general', case = False),'Service Package'] = 'Battery General Services (Charge, Test, Start)'
  dataset.loc[dataset['Service Package'].str.contains('service', case = False),'Service Package'] = 'Battery General Services (Charge, Test, Start)'

  # Clustering of Other Services as recommended by the Preventive Maintenance Schedule
  dataset.loc[~dataset['Service Package'].isin(['Battery Replacement','Battery General Services (Charge, Test, Start)']),'Service Package'] = 'Other Services (PMS Recommendaton)'
  
  df.update(dataset)
  
  return(dataset['Service Package'].value_counts().to_frame())

batteries(df)

                                                Service Package
Battery Replacement                                         151
Battery General Services (Charge, Test, Start)               37
Other Services (PMS Recommendaton)                           25

## Counter Cash Sale Function

In [28]:
def counter_cash_sale(dataset):
  """
  This code returns the clusters under the category of Counter Cash Sale.
  """
  
  # Filter the counter cash sale category
  dataset = dataset.loc[(dataset['Service Category'] == 'Counter / Cash Sale'),:]
  
  # Counter Cash Sale
  dataset.loc[dataset['Service Package'].str.contains('Counter', case = False),'Service Package'] = 'Counter / Cash Sale'
  
  # Tools & Equipments
  dataset.loc[dataset['Service Package'].str.contains('Tools', case = False),'Service Package'] = 'Tools and Equipment'
  
  # Other Requests
  dataset.loc[~dataset['Service Package'].isin(['Counter / Cash Sale','Tools and Equipment']),'Service Package'] = 'Other Requests'
  
  df.update(dataset)
  
  return(dataset['Service Package'].value_counts().to_frame())

counter_cash_sale(df)

                     Service Package
Counter / Cash Sale             1449
Other Requests                    65
Tools and Equipment               38

## HVAC Function

In [29]:
def hvac(dataset):
  """
  This code returns the clusters under the category of HVAC.
  """
  
  # Filter the HVAC category
  dataset = dataset.loc[(dataset['Service Category'] == 'HVAC (Heating, Ventilation & Air Conditioning)'),:]
  
  ## General Services
  dataset.loc[dataset['Service Package'].str.contains('general', case = False),'Service Package'] = 'Air Conditioner General Cleaning Service'
  dataset.loc[dataset['Service Package'].str.contains('vacuum', case = False),'Service Package'] = 'Vacuum/Charging Service'
  dataset.loc[dataset['Service Package'].str.contains('repair', case = False),'Service Package'] = 'Air Conditioner General Repair Service'

  ## Specific Services
  dataset.loc[dataset['Service Package'].str.contains('filter', case = False),'Service Package'] = 'Cabin Air Filter'
  dataset.loc[dataset['Service Package'].str.contains('compressor', case = False),'Service Package'] = 'Air Conditioning Compressor'
  dataset.loc[dataset['Service Package'].str.contains('evaporator', case = False),'Service Package'] = 'Air Conditioner Evaporator'
  dataset.loc[dataset['Service Package'].str.contains('blower', case = False),'Service Package'] = 'Blower Motor Assembly'
  dataset.loc[dataset['Service Package'].str.contains('fan', case = False),'Service Package'] = 'Air Conditioner Fan Motor'

  ## Other Services
  dataset.loc[~dataset['Service Package'].isin(['Air Conditioner General Cleaning Service','Vacuum/Charging Service','Air Conditioning Compressor'
                                               ,'Cabin Air Filter','Air Conditioner General Repair Service',
                                               'Air Conditioner Evaporator','Blower Motor Assembly','Air Conditioner Fan Motor']
                                              ),'Service Package'] = 'Other Air Conditioning Concerns'
  
  df.update(dataset)
  
  return(dataset['Service Package'].value_counts().to_frame())

hvac(df)

                                          Service Package
Air Conditioner General Cleaning Service              863
Vacuum/Charging Service                               389
Air Conditioning Compressor                            76
Other Air Conditioning Concerns                        74
Cabin Air Filter                                       57
Blower Motor Assembly                                  43
Air Conditioner General Repair Service                 39
Air Conditioner Fan Motor                              26
Air Conditioner Evaporator                             13

## Drive Train Function

In [30]:
def drive_train(dataset):
  """
  This code returns the clusters under the category of Drive Train.
  """
  
  ## This is for drive train
  dataset = dataset.loc[(dataset['Service Category'] == 'Drive Train (Final Drive, Transaxle, Differential & Transfer Case)'),:]
  
  ## Clustering of Drive Shaft
  dataset.loc[dataset['Service Package'].str.contains('Drive Shaft', case = False),'Service Package'] = 'Servicing of Drive Shaft'
  dataset.loc[dataset['Service Package'].str.contains('DriveShaft', case = False),'Service Package'] = 'Servicing of Drive Shaft'
  dataset.loc[dataset['Service Package'].str.contains('Oil Seal', case = False),'Service Package'] = 'Servicing of Drive Shaft'
  dataset.loc[dataset['Service Package'].str.contains('oilseal', case = False),'Service Package'] = 'Servicing of Drive Shaft'

  ## Clustering of Differential Fluid Exchange
  dataset.loc[dataset['Service Package'].str.contains('fluid', case = False),'Service Package'] = 'Differential Fluid Exchange'

  ## Clustering of Axle Shaft
  dataset.loc[dataset['Service Package'].str.contains('Axle', case = False),'Service Package'] = 'Servicing of Axle Shaft'

  ## Other Drive Train Services
  dataset.loc[~dataset['Service Package'].isin(['Servicing of Drive Shaft','Servicing of Axle Shaft','Differential Fluid Exchange']),'Service Package'] = 'Other General Drive Train Services'
  
  df.update(dataset)
  
  return(dataset['Service Package'].value_counts().to_frame())

drive_train(df)

                                    Service Package
Servicing of Drive Shaft                        130
Servicing of Axle Shaft                          38
Differential Fluid Exchange                      34
Other General Drive Train Services               32

## Sublet & Towing Function

In [31]:
def sublet(dataset):
  
  """
  This code returns the clusters under the category of Sublet & Towing.
  """
  
  ## This is for drive train
  dataset = dataset.loc[(dataset['Service Category'] == 'Sublet & Towing'),:]
  
  # Body repair and paint works
  dataset.loc[dataset['Service Package'].str.contains('repair', case = False),'Service Package'] = 'Body Repair and Paint Works'
  
  # Towing
  dataset.loc[dataset['Service Package'].str.contains('towing', case = False),'Service Package'] = 'Towing'
  
  # Other services
  dataset.loc[~dataset['Service Package'].isin(['Body Repair and Paint Works','Towing']),'Service Package'] = 'Other Sublet Services (Machine Shop)'

  df.update(dataset)
  
  return(dataset['Service Package'].value_counts().to_frame())

sublet(df)

                                      Service Package
Body Repair and Paint Works                        35
Other Sublet Services (Machine Shop)               30
Towing                                             19

## Car Brake Function

In [32]:
def brake(dataset):
  dataset = dataset.loc[(dataset['Service Category'] == 'Brakes'),:]
  
  # Disc Brake
  
  dataset.loc[dataset['Service Package'].str.contains('pad', case = False),'Service Package'] = 'Disc Brake Pad'
  dataset.loc[dataset['Service Package'].str.contains('general', case = False),'Service Package'] = 'Brake System General Service'
  dataset.loc[dataset['Service Package'].str.contains('disc brake rotors', case = False),'Service Package'] = 'Disc Brake Rotors'
  dataset.loc[dataset['Service Package'].str.contains('disc brake caliper', case = False),'Service Package'] = 'Disc Brake Caliper'
  dataset.loc[dataset['Service Package'].str.contains('disc brake hardware kit', case = False),'Service Package'] = 'Disc Brake Hardware'
  dataset.loc[dataset['Service Package'].str.contains('disc brake service', case = False),'Service Package'] = 'Disc Brake Hardware'
  dataset.loc[dataset['Service Package'].str.contains('caliper', case = False),'Service Package'] = 'Disc Brake Caliper'
  
  # Drum Brake
  dataset.loc[dataset['Service Package'].str.contains('brake wheel', case = False),'Service Package'] = 'Drum Brake Wheel'
  dataset.loc[dataset['Service Package'].str.contains('shoes', case = False),'Service Package'] = 'Drum Brake Shoes'

  # Brake Fluid and General Services
  dataset.loc[dataset['Service Package'].str.contains('bearing', case = False),'Service Package'] = 'Wheel Bearing'
  dataset.loc[dataset['Service Package'].str.contains('fluid', case = False),'Service Package'] = 'Brake Fluid Service (Exchange, System Flush, Bleeding)'
  dataset.loc[dataset['Service Package'].str.contains('clean', case = False),'Service Package'] = 'Brake Cleaning Service'
  dataset.loc[dataset['Service Package'].str.contains('cylinder', case = False),'Service Package'] = 'Brake Master Cylinder'
  dataset.loc[dataset['Service Package'].str.contains('light', case = False),'Service Package'] = 'Brake Light System'
  dataset.loc[dataset['Service Package'].str.contains('recommend', case = False),'Service Package'] = 'Preventive Maintenance System Recommendation'
  dataset.loc[dataset['Service Package'].str.contains('bleed', case = False),'Service Package'] = 'Brake Fluid Service (Exchange, System Flush, Bleeding)'
  dataset.loc[dataset['Service Package'].str.contains('brake system', case = False),'Service Package'] = 'Brake System General Service'
  dataset.loc[dataset['Service Package'].str.contains('sensor', case = False),'Service Package'] = 'ABS Wheel Speed Sensor'
  
  # Other Brake Services
  dataset.loc[~dataset['Service Package'].isin(['Disc Brake Pad','Brake System General Service','Disc Brake Rotors',
                                                   'Disc Brake Caliper','Drum Brake Wheel',
                                                   'Wheel Bearing','Brake Fluid Service (Exchange, System Flush, Bleeding)',
                                                   'Brake Cleaning Service','Drum Brake Shoes','Brake Master Cylinder',
                                                   'Brake Light System','Preventive Maintenance System Recommendation',
                                                   ]),'Service Package'] = 'Other Brake Services'
  
  
  df.update(dataset)
  
  return(dataset['Service Package'].value_counts().to_frame())

brake(df)

                      Service Package
Other Brake Services             1699
Wheel Bearing                     247

In [33]:
df.loc[(df['Service Category'] == 'Brakes'),:]

,Primary Key,Created,Mileage In,Mileage Out,Work Order,Year,Make,Model,Submodel,Engine,...,Price,Quantity,Total,Discount,Net Total,ContactID,ServiceItemID,InvoiceID,DefinitionID,Cluster
55,56.0,2019-01-03 08:51:12,61487.0,61489.0,99.0,2012.0,NISSAN,XTRAIL,NaN,NaN,...,446.43,4.88,2178.58,0.0,2178.58,3c536d5d-4c80-4dce-ad8b-549e444d388c,3bc3be5b-e17b-432b-bc84-89e8d1996d33,e6657a5f-699c-4546-82cd-f4902474d635,NaN,NaN
57,58.0,2019-01-03 08:51:12,61487.0,61489.0,99.0,2012.0,NISSAN,XTRAIL,NaN,NaN,...,4000.00,2.00,8000.00,0.0,8000.00,3c536d5d-4c80-4dce-ad8b-549e444d388c,3bc3be5b-e17b-432b-bc84-89e8d1996d33,e6657a5f-699c-4546-82cd-f4902474d635,1672.0,NaN
68,69.0,2019-01-04 08:40:01,48238.0,48239.0,117.0,2013.0,TOYOTA,SUPER GRANDIA,NaN,NaN,...,145.00,1.00,145.00,0.0,145.00,4c30efe4-5e5e-456c-a875-086bb912c2b4,b2e171a3-27e0-4269-9c28-7dd0a23631ab,396eb186-c6b4-4101-89d7-589391143fe7,NaN,NaN
69,70.0,2019-01-04 08:40:01,48238.0,48239.0,117.0,2013.0,TOYOTA,SUPER GRANDIA,NaN,NaN,...,2181.82,1.00,2181.82,0.0,2181.82,4c30efe4-5e5e-456c-a875-086bb912c2b4,b2e171a3-27e0-4269-9c28-7dd0a23631ab,396eb186-c6b4-4101-89d7-589391143fe7,1684.0,NaN
70,71.0,2019-01-04 08:40:01,48238.0,48239.0,117.0,2013.0,TOYOTA,SUPER GRANDIA,NaN,NaN,...,446.43,2.50,1116.08,0.0,1116.08,4c30efe4-5e5e-456c-a875-086bb912c2b4,b2e171a3-27e0-4269-9c28-7dd0a23631ab,396eb186-c6b4-4101-89d7-589391143fe7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42984,42985.0,2021-01-26 13:04:52,112371.0,112371.0,2000.0,2010.0,ISUZU,SPORTIVO,NaN,4JA1M20638,...,3906.25,1.00,3906.25,0.0,3906.25,c912c954-3940-43db-920e-44e0c2e22f98,888e48a3-a856-4913-9f5f-6def6256b2c0,67a661bf-d4ba-4390-9219-92c087943220,NaN,NaN
42985,42986.0,2021-01-26 13:04:52,112371.0,112371.0,2000.0,2010.0,ISUZU,SPORTIVO,NaN,4JA1M20638,...,44.64,6.00,267.84,0.0,267.84,c912c954-3940-43db-920e-44e0c2e22f98,888e48a3-a856-4913-9f5f-6def6256b2c0,67a661bf-d4ba-4390-9219-92c087943220,NaN,NaN
43009,43010.0,2021-03-17 08:35:28,104214.0,104214.0,2308.0,2015.0,MITSUBISHI,MONTERO SPT GLX 2.4,NaN,4D56UCFV0614,...,446.43,1.50,669.64,0.0,669.64,1766b3a3-4c50-41ee-915e-cf474c3a0b1a,c1c3bc1d-46ca-4df0-a8cc-652e1d9563b8,440d2a50-7c40-4d68-add6-6968b2050d92,NaN,NaN
43010,43011.0,2021-03-17 08:35:28,104214.0,104214.0,2308.0,2015.0,MITSUBISHI,MONTERO SPT GLX 2.4,NaN,4D56UCFV0614,...,6250.00,1.00,6250.00,0.0,6250.00,1766b3a3-4c50-41ee-915e-cf474c3a0b1a,c1c3bc1d-46ca-4df0-a8cc-652e1d9563b8,440d2a50-7c40-4d68-add6-6968b2050d92,1684.0,NaN
43011,43012.0,2021-03-17 08:35:28,104214.0,104214.0,2308.0,2015.0,MITSUBISHI,MONTERO SPT GLX 2.4,NaN,4D56UCFV0614,...,232.15,1.00,232.15,0.0,232.15,1766b3a3-4c50-41ee-915e-cf474c3a0b1a,c1c3bc1d-46ca-4df0-a8cc-652e1d9563b8,440d2a50-7c40-4d68-add6-6968b2050d92,NaN,NaN

In [34]:
df['Service Package'].value_counts().to_frame().head(20)

                                                    Service Package
preventive maintenance                                        16807
change oil, lube and flushing                                  5465
complete vehicle inspection                                    3133
Other Brake Services                                           1699
Counter / Cash Sale                                            1449
suspension                                                     1304
wheel alignment                                                1072
steering                                                       1020
Engine                                                          979
Air Conditioner General Cleaning Service                        863
Mount, Install, & Balance                                       793
Valve Cover Gasket                                              561
Vacuum/Charging Service                                         389
Wheel Bearing                                                   247
Car Wash, Vacuum and Tire Dressing - SEDAN                      245
Car Wash, Vacuum and Tire Dressing - SUV/PICK-U...              212
Windshield Wiper Servicing                                      178
Clutch General Service (Replacement of Clutch C...              165
Battery Replacement                                             151
Servicing of Drive Shaft                                        130

In [35]:
df.to_csv('Compiled Dataset (For Modelling).csv')